<div class="container">
  <div id="home">
    <div class="home">
      <h1>Customer's Tab</h1>
      <i>{{user}}</i>
      <div class="home-large">
        <span>{{myTabTotal}}</span>
      </div>
      <div class="exit-home">
        OK
      </div>
    </div>
  </div>
  <div class="tabs">
    <div id="mytab">
      <div class="balance" onclick="() => alert({{myTabTotal}})">
        <div>
          <h2>Total Credit</h2>
          <small>(My Tab)</small>
        </div>
        <h3>{{myTabTotal}}</h3>
      </div>
      <div class="add-btn-div">
        <div class="add-btn">
          <i>&plus;</i>
        </div>
      </div>
      <div class="customers">
        {{#if myTab}}
        {{#each myTab}}
        <div class="list">
          <h4><a href="/user/info/{{id}}/1" class="toInfo">{{name}}</a></h4>
          <span class="debt">
            <span>{{total}}</span>
          </span>
          <div class="dot-menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="link">
            <a href="add" data-id="{{id}}">Add to Tab</a>
            <a href="remove" data-id="{{id}}">Update Tab</a>
            <a href="/user/reset/{{id}}" data-id="{{id}}" data-delete="" class="reset">Reset tab</a>
            <a href="/user/reset/{{id}}" data-id="{{id}}" data-delete="1" class="reset">Remove Customer</a>
          </div>
        </div>
        {{/each}}
        {{else}}
        <h3 style="text-align: center; margin: 2rem 0">No customers</h3>
        {{/if}}
      </div>
    </div>
    <div id="otherstab">
      <div class="balance" onclick="() => alert({{myTabTotal}})">
        <div>
          <h2>Total Credit</h2>
          <small>(My Credit Tab)</small>
        </div>
        <h3>{{othersTabTotal}}</h3>
      </div>
      <div class="add-btn-div">
        <div class="add-btn">
          <i>&plus;</i>
        </div>
      </div>
      <div class="customers">
        {{#if othersTab}}
        {{#each othersTab}}
        <div class="list">
          <h4><a href="/user/info/{{id}}/2" class="toInfo">{{name}}</a></h4>
          <span class="debt">
            <span>{{total}}</span>
          </span>
          <div class="dot-menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="link">
            <a href="add" data-id="{{id}}">Add to Tab</a>
            <a href="remove" data-id="{{id}}">Update Tab</a>
            <a href="/user/reset/{{id}}" data-id="{{id}}" data-delete="" class="reset">Reset Tab</a>
            <a href="/user/reset/{{id}}" data-id="{{id}}" data-delete="1" class="reset">Remove Customer</a>
          </div>
        </div>
        {{/each}}
        {{else}}
        <h3 style="text-align: center; margin: 2rem 0">No customers</h3>
        {{/if}}
      </div>
    </div>
    <div id="add">
      <div class="back-div">
        <div class="back">
          <i>&laquo;</i>
          <span>Back</span>
        </div>
      </div>
      <h2>Add to tab</h2>
      <form method="post" action="api/item/new">
        <div>
          <label for="amount">Amount Paid</label>
          <input type="num" name="paid" value="0" placeholder="Amount paid" />

        </div>
        <div>
          <label for="amount">Total price</label>
          <input type="num" name="total" amount="" placeholder="Total price" />

        </div>
        <div>
          <label for="goods">Description</label>
          <textarea name="desc" id="goods" placeholder="Goods bought..." rows="7"></textarea>
        </div>
        <div>
          <div class="info"></div>
          <input type="hidden" name="user">
          <input type="hidden" name="type" value="1">
          <button>Submit</button>
        </div>
      </form>
    </div>
    <div id="remove">
      <div class="back-div">
        <div class="back">
          <i>&laquo;</i>
          <span>Back</span>
        </div>
      </div>
      <form method="post" action="api/item/update">
        <div>
          <label for="amount">Amount paid</label>
          <input type="number" name="paid" placeholder="Amount paid..." />
        </div>
        <div>
          <div class="info"></div>
          <input type="hidden" name="user">
          <input type="hidden" name="type" value="1">
          <button>Submit</button>
        </div>
      </form>
    </div>
    <div id="new">
      <div class="back-div">
        <div class="back">
          <i>&laquo;</i>
          <span>Back</span>
        </div>
      </div>
      <h2>New Customer</h2>
      <form method="post" action="api/user/new">
        <div>
          <label for="amount">Customer Name</label>
          <input type="text" name="name" placeholder="Customer name..." />
        </div>
        <div>
          <div class="info"></div>
          <input type="hidden" name="type" value="1">
          <input type="hidden" name="account" value="{{account}}">
          <button>Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>